<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-offset-3">
                    <p class="lead">Hello world, From GeekDoos</p>
                    <div class="row" id="app">
                        <a :href="link" :title="message">{{ message }}</a>
                        <hr>
                        <input type="text" v-model="message">
                        <hr>
                        <div class="alert alert-success" v-if="!success">
                            <i class="glyphicon glyphicon-folder-close pull-right" @click="close"></i>
                            <span>Bravo !! {{ message }}</span>
                        </div>
                        <div class="alert alert-danger" v-else>
                            <i class="glyphicon glyphicon-eye-close pull-right" @click="close"></i>
                            <span>Hard luck :( {{ message }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/vue/dist/vue.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
